{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}
{% block style  %}
<style>
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    
  }

  .container{ 
    border-color: #02b3b3;
    color: #f4f4f4;
    position: absolute;
    top: 30%;
    left: 43%;
    -ms-transform: translate(-50%, -50%);
  }

  .container h2{
    font-size: 2.5rem;
  }

  .container input{
    background-color: #02b3b3;
    border-color: #2c3a47;
    color: #2c3a47;
    font-size: 2rem;
    padding: 0.3rem 1rem;

  }

  .container1{ 
    border-color: #02b3b3;
    color: #02b3b3;
    position: absolute;
    top: 48%;
    left: 21.5%;
    -ms-transform: translate(-50%, -50%);
  }

  .container1 .search {
    padding: 0.2rem 1rem;
    font-size: 2rem;
    background-color: #02b3b3;
    color: #2c3a47;
    }

  .container1 .requirements{
    padding: 0.2rem;
    font-size: 2rem;
    background-color: #fff;
  }
  
  .btn{
    background-color: #02b3b3;
    font-size: 2rem;
    color: #2c3a47;
    padding: 0.3rem 1.2rem;
  }

</style>
{% endblock style  %}
{% block body %}
<body>

  <div class="container-fluid my-2">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/2.jpg" class="d-block w-100" alt="...">
          
            <div class="container">
              <h1><input type="submit" name="mybtn2" onclick="location.href='{% url 'upload_cv' %}'" value="Upload CV"></input></h1>
            </div>
            <div class="container1">
            <form action="#">
              <label class="search" for="name">Search Keywords</label>
              <input class="requirements" type="text" id="name" placeholder= "Enter your requirements">
              <button type="submit" class="btn">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>        
          
  

</body>
{% endblock body %}