{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}
{% block style  %}
<style>
  body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    
  }

  .container { 
    height: 200px;
    padding: 5px 570px;
    position: relative;
  }

  .input-group {
    padding: 10rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .input-group h2 {
    color: #02b3b3;
    font-size: 1.8rem;
  }
  
  .input-group .btn {
    background-color: #02b3b3;
    border-color: #02b3b3;
    color: #2c3a47;
    font-size: 1.8rem;
  }
</style>
{% endblock style  %}
{% block body %}
<body>

  <div class="container-fluid my-2">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/2.jpg" class="d-block w-100" alt="...">
          <div class="input-group">
            <span class="input-group-text"><h2>Search Keywords</h2></span>
            <textarea class="form-control" aria-label="Search keywords"></textarea>
            <div class="container">
              <button class="btn px-6" type="button" id="inputGroupFileAddon04">Search</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>        
          
  

</body>
{% endblock body %}